<% content_for :submenu do %>
<ul>
    <li>
        <%= link_to 'Manage', admin_categories_path %>
    </li>
    <li class="selected">
        <%= link_to 'Add', '#', :onclick => 'return false;' %>
    </li>
</ul>
<% end %>

<div class="span-22 title">
    Create New Category
</div>

<div class="span-22 body">
<%= error_messages_for :category %>

<% form_for @category, :url => admin_categories_path do |form| %>
    
    <%= render :partial => 'form', :object => form %>
    
    <p>
        <%= form.submit 'Create' %>
    </p>
<% end %>
</div>